{% load static %}
<div class="header_container">
    <header class="header">
        <div class="container">
            <div class="header__menu_button">
                <button class="btn btn_menu btn--icon" type="button">
                    <span></span>
                </button>
            </div>
            <div class="header__logo header_logo">
                <a href="/">
                    <img class="header_logo__img" src="{% static 'img/lykke_new.svg' %}" height="36" alt="lykke_logo">
                </a>
            </div>

        </div>
    </header>
</div>