{% load cms_tags menu_tags sekizai_tags static %}
<!doctype html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {#    <link rel="stylesheet" href="{% static 'style_vanuatu.css' %}">#}
    {% render_block "css" %}
</head>


<body>
{% cms_toolbar %}

{% include 'system/sidebar.html' %}

{% include 'system/header.html' %}


{% show_menu 0 100 100 100 'system/menu.html' %}


<article class="content page">
    <section class="section section--padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8 automargin">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </section>
</article>

{% include 'system/footer.html' %}

<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-custom.min.js' %}"></script>
<script src="{% static 'js/vendor/fastclick.min.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

{% render_block "js" %}
</body>
</html>
