{% load cms_tags menu_tags sekizai_tags static %}
<!doctype html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {#    <link rel="stylesheet" href="{% static 'style_vanuatu.css' %}">#}
    {% render_block "css" %}
</head>


<body>
{% cms_toolbar %}

{% include 'system/sidebar.html' %}

{% include 'system/header.html' %}

<nav class="header_nav">
    <div class="header_nav__inner">
        <div class="container">
            {% show_menu 0 100 100 100 'system/menu.html' %}
        </div>
    </div>
</nav>

<article class="content page">
    <section class="section section--padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6 automargin">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </section>
</article>

{% include 'system/footer.html' %}

<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-custom.min.js' %}"></script>
<script src="{% static 'js/vendor/fastclick.min.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

{% render_block "js" %}
</body>
</html>
